*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.registration-page{
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3vw;
}
.re-heading{
    font-size: 3vw;
    font-weight: 700;
}
.regis-details{
    display: flex;
    flex-direction: column;
    row-gap: 2.7vw;
    border: 1px solid #f8e8db ;
    width: 500px;
    height: 500px;
    justify-content: center;
    background-color:#ffffff26;
    border-radius: 8px;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px #d8d3d321;
}
.same-info{
    width: 370px;
    height: 38px;
    padding-left: 13px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #f5750df3;
    background-color: #f8e8db;
}
.regis-btn{
     
    display: inline-block;
    width: 370px;
    height: 38px;
    font-weight: 600;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    border: 0 solid #f5750df3;
    border-radius: 5px;
    text-align: center;
    background-color: #f5750df3;
    padding-top: 0.2vw;
}